.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 250px;
  max-width: 90%;
  height: auto;
}

.line {
  gap: 15px;
}

.line-before,
.line-after {
  width: 80px;
  height: 5px;
  background-color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
